--- 
---

@import "{{ site.theme }}";

body {
    background-color: #fff;
    font-size: 15px;
}

td {
    background: #eeeeee;
}

a {
    font-weight: 400;
}
header {
    background-color: #89457f;
}

header li {
    font-size: 13px;
    width: 150px;
    background: black;
    box-shadow: inset 0px 1px 1px 0 #89457f;
}